

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
      font-size: 16px;
    }
    nav ul{
        /* flex-direction: column; */
        flex-direction: column;
        display: flex;
        list-style: none;
        font-family:  sans-serif;
    }

    .d{
        line-height: 10px;
    }
    header {
      font-size: 28px;
    }
    .head-footer{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        background-color: green;
        margin-top: 10%;
        /* padding: 2%; */
        width: 50%;
        list-style: none;
        font-size: 12px;
        font-weight: bolder;
    }
    .clarity{
        flex-direction: column;
        display: flex;
        margin-right: 20%;
        height: 60px;
    }
    .head{
        flex-direction: column;
        display: flex;
    }
    .body-footer{
        color: #FFF5F5;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
        width: 40%;
        margin-right: 10%;
    }
    .con-button{
        /* margin-right: 30%; */
        /* padding: 15px 25px; */
        background-color: rgb(6, 80, 6);
        color: #FFF5F5;
        border-radius: 5px;
     }
    
 
    .main {
      width: 70%;
      margin: 0 15% 0 0;
    }
    
    .sidebar {
      width: 15%;
      display: block;
    }
    
    .footer {
      font-size: 14px;
    }
  }
  
  /* Media queries for screens with min-width 1024px */
  
  @media screen and (min-width: 1024px) {
    body {
      font-size: 18px;
    }
    
    .header {
      font-size: 32px;
    }
    
    .main {
      width: 60%;
      margin: 0 20% 0 0;
    }
    
    .sidebar {
      width: 20%;
      display: block;
    }
    
    .footer {
      font-size: 16px;
    }
  }